.bottom-right-button {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height to maintain circle shape */
  line-height: 50px; /* Center the '+' vertically */
  text-align: center; /* Center the '+' horizontally */
  font-size: 30px; /* Size of the '+' icon */
  padding: 0; /* Remove padding */
  background-color: #4CAF50; /* A pleasant green */
  color: white;
  border: none;
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.bottom-right-button:hover {
  background-color: #45a049;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
